{% extends 'movieapp/base.html' %}
{% load static %}
{% block content %}
<h1>Данные пользователя</h1>
<form  method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.photo %}
         <p><img src="{{ user.photo.url }}">
    {% else %}
         <img src="{{ default_image }}">
    {% endif %}
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>

</form>

<hr>
<p><a href="{% url 'password_change'%}">Сменить пароль</a></p>
{% endblock %}